/* CONTAINER */
#container{
    height: 550px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 75px auto;
    background-color: #1a1a1a;
    border-radius: 25px;
    align-items: center;
    position: relative;
    transition: all 0.25s linear;
}

    /* NIGHT-MODE */
    #mode{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        background-color: #333333;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s linear;
        position: absolute;
        left: 15px;
        top: 15px;
        cursor: pointer;
    }

    /* DISPLAY */
    .display{
        height: 140px;
        width: 260px;
        padding: 20px;
        color: white;
        font-size: 35px;
        font-family: cursive;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    /* CONTROLS */
    .control{
        display: grid;
        grid-template-rows: repeat(5,50px);
        grid-template-columns: repeat(4,50px);
        grid-gap: 20px 20px;
        width: 260px;
        padding: 20px;
    }

        /* BUTTONS */
        .btn{
            border: 1px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #333333;
            color: white;
            font-weight: bold;
            font-family: cursive;
            cursor: pointer;
            transition: background-color 0.25s linear;
        }
        .btn:hover{
            box-shadow: 0 0 10px 0.5px grey;
        }
        .orange{
            background-color: rgb(255, 125, 33);
        }
        .green{
            background-color: #00cc00;
        }
        .clear{
            color: red;
            background-color: #330000;
            font-family: sans-serif;
        }

        /* for 0 only */
        .span{
            grid-column: 1 / 3;
        }