/* WHOLE DOCUMENT */
#container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 97.5vh;
    width: 100%;
}
/* Adding background */
#container:after{
    content: '';
    background-image: url('https://images.unsplash.com/photo-1604782206219-3b9576575203?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2hhcGVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: contain;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    opacity: 0.75;
}

    /* INFO SECTION (RIGHT DIV) */
    #info{
        height: 550px;
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
        /* CALCULATOR HEADING */
        #info header{
            height: 75px;
            width: 90%;
            font-family: 'Maven Pro', sans-serif;
            font-size: 65px;
            color: whitesmoke;
            text-shadow: 2px 2px 3px black, -2px -2px 3px black;
        }

        /* PROFILE LINKS */
        #links{
            display: flex;
            flex-direction: column;
            height: 145px;
            width: 350px;
            font-size: x-large;
            justify-content: center;
            align-items: center;
        }
        #links > *{
            height: 70px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #links a{
            text-decoration: none;
            /* font-family: cursive; */
            font-family: 'Dosis', sans-serif;
            color: #4c443a;
            font-weight: bold;
        }

        #links a:hover{
            text-decoration: underline;
        }

    /* CALCULATOR-BODY */
    #calculator{
        height: 550px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        background-color: #1a1a1a;
        border-radius: 25px;
        align-items: center;
        /* For theme button */
        position: relative; 
        transition: all 0.25s linear;
    }

    #calculator:hover{
        box-shadow: 0 0 20px 5px gray;
    }

        /* NIGHT-MODE */
        #mode{
            height: 35px;
            width: 35px;
            border-radius: 50%;
            background-color: #333333;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s linear;
            position: absolute;
            left: 15px;
            top: 15px;
            cursor: pointer;
        }

        #mode:hover{
            box-shadow: 0 0 10px 1px gray;
        }

        /* DISPLAY */
        .display{
            height: 140px;
            width: 260px;
            padding: 20px;
            color: white;
            font-size: 35px;
            font-family: cursive;
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;
            flex-wrap: wrap;
            overflow: hidden;
        }

        /* CONTROLS */
        .control{
            display: grid;
            grid-template-rows: repeat(5,50px);
            grid-template-columns: repeat(4,50px);
            grid-gap: 20px 20px;
            width: 260px;
            padding: 20px;
        }

            /* BUTTONS */
            .btn{
                border: 1px;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #333333;
                color: white;
                font-weight: bold;
                font-family: cursive;
                cursor: pointer;
                transition: background-color 0.25s linear;
            }
            .btn:hover{
                box-shadow: 0 0 10px 0.5px grey;
            }
            .orange{
                background-color: rgb(255, 125, 33);
            }
            .green{
                background-color: #00cc00;
            }
            .clear{
                color: red;
                background-color: #330000;
                font-family: sans-serif;
            }

            /* for 0 only */
            .span{
                grid-column: 1 / 3;
            }